@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenRow JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center" Style="width: 100%;">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                    <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)" />
                    <RadzenLabel Text="PhD Manager" />
                </RadzenStack>
                    <AuthorizeView>
                        <Authorized>
                            <RadzenLink Path="/logout">Log out</RadzenLink>
                        </Authorized>
                        <NotAuthorized>
                            <RadzenLink Path="/login">Log in</RadzenLink>
                        </NotAuthorized>
                    </AuthorizeView>
            </RadzenRow>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@_sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Path="" Text="Home" Icon="home" />
            <RadzenPanelMenuItem Path="counter" Text="Counter" Icon="plus_one" />
            <RadzenPanelMenuItem Path="weather" Text="Weather" Icon="cloud_download" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code { 
    private bool _sidebarExpanded = true;
}
