@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <RadzenText TextStyle="TextStyle.Body1">Welcome, you are logged in as <b>@HttpContext.User.Identity?.Name</b></RadzenText>
    </Authorized>
    <NotAuthorized>
        <RadzenText TextStyle="TextStyle.Body1">You are not logged in. <a href="/login" class="underline hover:opacity-80">Click here to log in.</a></RadzenText>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }
}